<div class="row">
    <p>
        {{button-icon flavour=flavour icon=icon caption=caption hotKey=hotKey outline=outline name=name disabled=disabled doClick=(action this.attrs.doClick)}}
    </p>
</div>
