<button class="btn btn-primary btn-block {{flavour}} {{if outline 'btn-outline'}}">
    {{#if icon}}
        <span class="pull-left">{{fa-icon icon size="lg"}}</span>
    {{/if}}
    {{caption}}
</button>