<ul class="nav navbar-nav">
    <li class="active"><a href="#">Activity <span class="sr-only">(current)</span></a></li>
    <li><a href="#">Log</a></li>
    <li><a href="#">Memos</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li role="presentation"><a href="#" class="button btn-warning">{{fa-icon 'fa-bell'}}<span class="badge">4</span></a></li>
    <li role="presentation"><a href="#" class="button btn-danger">{{fa-icon 'fa-exclamation-triangle'}}<span class="badge">2</span></a></li>
</ul>