{{#each-in categories as |category recordTypes|}} {{!--See components/panel-record.js--}}
<p><small>{{category}}</small></p>
  {{#each recordTypes as |recordType|}}
    {{button-action 
      caption=recordType.caption 
      icon=recordType.icon 
      hotKey=recordType.hotKey
      disabled=disabled
      doClick=(action 
        this.attrs.selectType 
        recordType.internalType
        )
      }}    
  {{/each}}
{{/each-in}}
