
{{#each-in categories as |category recordTypes|}} {{!--See components/panel-traffic.js--}}
<p><small>{{category}}</small></p>
  {{#each recordTypes as |recordType|}}
    {{button-action 
      caption=recordType.caption 
      icon=recordType.icon 
      hotKey=recordType.hotKey
      flavour=recordType.flavour
      disabled=disabled
      doClick=(action 
        this.attrs.startActivity 
        recordType.mode
        recordType.operation
        )
      }}    
  {{/each}}
{{/each-in}}

{{#if disabled}}
<p><small>Cancel</small></p>
    {{button-action 
      caption='Cancel'
      icon='fa-no' 
      hotKey='`'
      flavour='btn-default'
      doClick=(action 
        this.attrs.cancel 
      )
    }}   
{{/if}}