<div class="container-fluid">
    {{outlet}}
    <div class="row">
        <div class="col-xs-2">
            {{#panel-skel header="New Record"}}
                {{panel-traffic}}
            {{/panel-skel}}
        </div>
        <div class="col-xs-2">
            {{#panel-skel header="Record type"}}
                {{panel-record}}
            {{/panel-skel}}
        </div>
        <div class="col-xs-8">
            {{#panel-skel header="Record Content"}}
                {{panel-content}}
            {{/panel-skel}}
        </div>
    </div>
</div>